accelerate==0.34.2
ipykernel==7.2.0
matplotlib==3.10.8
pandas==2.2.2
plotly==6.5.2
python-dotenv==1.0.1
rouge==1.0.1
seaborn==0.13.2
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
transformers==4.44.2
wandb==0.25.0
wordcloud==1.9.6
